body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
        "nav nav nav"
        "header header header"
        "main main main";
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    text-align: center;
    color: black;

}

nav a {
    color: rgba(3, 18, 66, 0.637);
    text-decoration: none;
}