body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
        "header"
        "main"
        "nav";
    background-color: rgba(22, 5, 5, 0.164);
}

nav {

    display: block;
    background-color: rgb(32, 1, 27);
    position: fixed;
    top: 0%;
    left: 50%;
    width: 50%;
    height: 100vh;
    list-style: none;
    transform: translate(100%,0%);
    z-index: -1;
    transition: transform 0.5s ease-in;
}

.showNav {
    height: 0.8em;
    width: 1.25em;
    display: block;
    border-top: 0.2em solid white;
    border-bottom: 0.2em solid white;
    border-radius: 0.2em;
}

.showNav::before {
    content: '';
    position: absolute;
    width: 1.25em;
    margin-top: 0.3em;
    border-top: 0.2em solid #fff;
}

#clicked .on {
    display: block;
}

#clicked .off {
    display: none;    
}

#clicked:target .on {
    display: none;
}

#clicked:target .off {
    display: block;
}

#clicked:target {
    nav {
        transform: translate(0,0);
        z-index: 1;
    }
    
}