* {
    margin: 0;
    padding: 0%;
}

header {
    background-color: blue;
    color: white;
    grid-area: header;
    padding: 1%;
}


main {
    background-color: darkblue;
    color: white;
    grid-area: main;
}

aside {
    background-color: lightgreen;
    grid-area: aside;
}

footer {
    background-color: darkgreen;
    color: white;
    grid-area: footer;
}

nav {
    background-color: yellow;
    grid-area: nav;
}
form{
    display: grid;
    grid-template-columns: 50% 50%;
   align-items: center;
    row-gap: 1em;
    width: 280%;
}
input[type="submit"]{
grid-column: 1/3;
}