* {
    margin: 0;
    padding: 1%;
    font-family: 'Courier New', Courier, monospace;

}
body{
    background-color: rgba(3, 18, 66, 0.637);
}
header {
    text-align: center;
    color: rgb(211, 155, 155);
    grid-area: header;
    
}
nav ul{
    grid-area: nav;
    color: rgba(3, 18, 66, 0.637);
    list-style: none;
    background-color: white;
    border-radius: 50%;
    
    }
    nav a{
        color: rgba(3, 18, 66, 0.637);
        text-decoration: none;
    }
    nav a:hover{
        color: black;
        font-size: 1.5em;
    }

main {
    color: white;
    grid-area: main;
    text-align: center;
}


footer {
    color: white;
    grid-area: footer;
    transition: 0.3s;
    text-align: center;
}



form{
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: end;
    row-gap: 1em;
    width: 50%;
}
input[type="submit"]{
grid-column: 1/3;
}