* {
    margin: 0;
    padding: 1%;
}
body{
    background-color: rgba(22, 5, 5, 0.164);
}
header {
    text-align: center;
    color: rgb(211, 155, 155);
    grid-area: header;
    
}
nav ul{
    grid-area: nav;
    color: black;
    list-style: none;
    }
    nav a{

        text-decoration: none;
    }
a:hover{
    background-color: rgb(225, 0, 255);
    color: white;
}

main {
    color: white;
    grid-area: main;
    text-align: center;
}


footer {
    color: white;
    grid-area: footer;
    transition: 0.3s;
    text-align: center;
}



form{
    display: grid;
    grid-template-columns: 50% 50%;
   align-items: center;
    row-gap: 1em;
    width: 280%;
}
input[type="submit"]{
grid-column: 1/3;
}